<?xml version="1.0" encoding="UTF-8"?>
<plugin
   id="com.cougaarsoftware.cougaar.ide.launcher.core"
   name="%Plugin.name"
   version="1.3.1.1"
   provider-name="%Provider.name"
   class="com.cougaarsoftware.cougaar.ide.launcher.core.LauncherPlugin">

   <runtime>
      <library name="cougaar-ide-launcher-core.jar">
         <export name="*"/>
      </library>
   </runtime>

   <requires>
      <import plugin="org.eclipse.debug.core"/>
      <import plugin="org.eclipse.jface"/>
      <import plugin="org.eclipse.ui"/>
      <import plugin="org.eclipse.jdt.launching"/>
   </requires>

   <extension
         point="org.eclipse.debug.core.launchConfigurationTypes">
      <launchConfigurationType
            name="%com.cougaarsoftware.cougaar.ide.launcher.core.configs.CougaarLaunchConfigurationType"
            delegate="com.cougaarsoftware.cougaar.ide.launcher.core.configs.CougaarLaunchConfigurationDelegate"
            modes="run, debug"
            id="com.cougaarsoftware.cougaar.ide.launcher.core.configs.CougaarLaunchConfigurationType">
      </launchConfigurationType>
      <launchConfigurationType
            name="%com.cougaarsoftware.cougaar.ide.launcher.core.configs.CougaarXMLLaunchConfigurationType"
            delegate="com.cougaarsoftware.cougaar.ide.launcher.core.configs.CougaarLaunchConfigurationDelegate"
            modes="run, debug"
            id="com.cougaarsoftware.cougaar.ide.launcher.core.configs.CougaarXMLLaunchConfigurationType">
      </launchConfigurationType>
   </extension>

</plugin>
