<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>
<plugin
   id="com.cougaarsoftware.cougaar.ide.ui"
   name="%Plugin.name"
   version="1.2.4.1"
   provider-name="%Provider.name"
   class="com.cougaarsoftware.cougaar.ide.ui.CougaarUIPlugin">

   <runtime>
      <library name="cougaar-ide-ui.jar">
         <export name="*"/>
         <packages prefixes="com.cougaarsoftware.cougaar.ide.ui"/>
      </library>
   </runtime>

   <requires>
      <import plugin="org.eclipse.ui.ide"/>
      <import plugin="org.eclipse.jface.text"/>
      <import plugin="org.eclipse.ui.editors"/>
      <import plugin="org.eclipse.core.runtime"/>
      <import plugin="org.eclipse.core.resources"/>
      <import plugin="org.eclipse.ui"/>
      <import plugin="org.eclipse.jdt.core"/>
      <import plugin="org.eclipse.jdt.ui"/>
      <import plugin="com.cougaarsoftware.cougaar.ide.core"/>
      <import plugin="org.eclipse.swt"/>
      <import plugin="org.eclipse.ui.workbench.texteditor"/>
   </requires>

   <extension
         point="org.eclipse.ui.perspectives">
      <perspective
            name="%Perspective.name"
            icon="icons/cougaaride.gif"
            class="com.cougaarsoftware.cougaar.ide.ui.CougaarPerspectiveFactory"
            id="com.cougaarsoftware.cougaar.ide.ui.CougaarPerspective">
      </perspective>
   </extension>
   <extension
         point="org.eclipse.ui.editors">
      <editor
            name="Cougaar Society XML Editor"
            icon="icons/cougaarsociety.gif"
            extensions="xml"
            contributorClass="org.eclipse.ui.texteditor.BasicTextEditorActionContributor"
            class="com.cougaarsoftware.cougaar.ide.ui.editors.society.SocietyXMLEditor"
            id="com.cougaarsoftware.cougaar.ide.ui.editors.society.SocietyXMLEditor">
      </editor>
   </extension>
   <extension
         point="org.eclipse.ui.newWizards">
      <category
            name="Cougaar Wizards"
            id="com.cougaarsoftware.cougaar.ide.ui.wizards">
      </category>
      <wizard
            name="Cougaar Project"
            icon="icons/cougaaride.gif"
            category="com.cougaarsoftware.cougaar.ide.ui.wizards"
            class="com.cougaarsoftware.cougaar.ide.ui.wizards.NewCougaarProjectWizard"
            project="true"
            finalPerspective="com.cougaarsoftware.cougaar.ide.ui.CougaarPerspective"
            id="com.cougaarsoftware.cougaar.ide.ui.wizards.CougaarProject">
         <description>
            A New Cougaar Project Wizard
         </description>
      </wizard>
   </extension>
   <extension
         point="org.eclipse.ui.propertyPages">
      <page
            objectClass="org.eclipse.core.resources.IProject"
            adaptable="true"
            name="Cougaar Properties"
            class="com.cougaarsoftware.cougaar.ide.ui.preferences.CougaarPropertyPage"
            id="com.cougaarsoftware.cougaar.ide.ui.preferences.CougaarPropertyPage">
         <filter
               name="projectNature"
               value="com.cougaarsoftware.cougaar.ide.core.cougaarnature">
         </filter>
      </page>
   </extension>
   <extension
         point="org.eclipse.ui.preferencePages">
      <page
            name="%com.cougaarsoftware.cougaar.ide.ui.preferences.CougaarPreferencePage"
            class="com.cougaarsoftware.cougaar.ide.ui.preferences.CougaarPreferencePage"
            id="com.cougaarsoftware.cougaar.ide.ui.preferences.CougaarPreferencePage">
      </page>
   </extension>
   <extension
         point="org.eclipse.ui.popupMenus">
      <objectContribution
            objectClass="org.eclipse.jdt.core.IJavaProject"
            id="com.cougaarsoftware.cougaar.ide.ui.menu">
         <menu
               label="Cougaar Tools"
               path="additions"
               id="com.cougaarsoftware.cougaar.ide.ui.menu">
            <separator
                  name="resourceGroup">
            </separator>
         </menu>
         <action
               label="Convert To Cougaar Project"
               icon="icons/cougaaride.gif"
               class="com.cougaarsoftware.cougaar.ide.ui.actions.ConvertToCougaarProjectAction"
               menubarPath="com.cougaarsoftware.cougaar.ide.ui.menu/convert"
               enablesFor="1"
               id="com.cougaarsoftware.cougaar.ide.ui.actions.ConvertToCougaarProjectAction">
            <enablement>
               <and>
                  <not>
                     <objectState
                           name="projectNature"
                           value="com.cougaarsoftware.cougaar.ide.core.cougaarnature">
                     </objectState>
                  </not>
                  <objectState
                        name="projectNature"
                        value="org.eclipse.jdt.core.javanature">
                  </objectState>
               </and>
            </enablement>
         </action>
      </objectContribution>
   </extension>
   <extension
         point="org.eclipse.ui.views">
      <category
            name="Cougaar Views"
            id="com.cougaarsoftware.cougaar.ide.ui">
      </category>
      <view
            name="Cougaar Society Viewer"
            icon="icons/cougaaride.gif"
            category="com.cougaarsoftware.cougaar.ide.ui"
            class="com.cougaarsoftware.cougaar.ide.ui.views.SocietyViewer"
            id="com.cougaarsoftware.cougaar.ide.ui.views.SocietyViewer">
      </view>
   </extension>

</plugin>
